/*--------------------------header----------------------------------*/
body {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color: rgb(249, 79, 47);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

header #bars {
    display: none;
}

header .menu {
    padding: 0;
}

header .menu li a {
    color: white;
    text-decoration: none;
}

header .menu li a:hover {
    color: rgb(252, 199, 183);
}

header .menu li:last-child a:hover {
    color: white;
}

header .menu li:nth-child(2n) a {
    color: rgb(252, 199, 183);
}

header .fa-brands fa-instagram {
    background-color: white;
}

header .menu li {
    color: white;
    margin-right: 10px;
    margin-top: 6px;
    list-style: none;
}

header .menu li:last-child {
    margin-right: 0;
}

header .nav li a {
    color: white;
    text-decoration: none;
}

header .nav li {
    color: white;
    margin-right: 24px;
    margin-top: 6px;
    list-style: none;
}

header .nav li a:hover {
    color: rgb(252, 199, 183);
}

header .logo img{
    width: 150px;
    height: 80px;
}

header .wrapper-2 .search input {
    width: 840px;
    padding: 8px 80px 8px 16px;
    outline: none;
    border: none;
    margin-left: 47px;
    margin-right: 65px;
}

header .cart i {
    color: white;
}

header .wrapper-2 .search {
    position: relative;
}

header .search button {
    top: 5px;
    right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: rgb(249, 79, 47);
    border: 0px;
}

header .wrapper-2 {
    padding-bottom: 20px;
}

/*------------------------------------------main------------------------------*/
main {
    margin-top: 146px;
}

main section .wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
}

main .products .cart {
    margin-right: 15px;
}

main .products img {
    height: 180px;
}

main .products a {
    text-decoration: none;
    color: black;
}

main .products a:hover {
    animation: up 0.3s forwards;
    box-shadow: 0 0 10px 0 rgba(0 0, 0, 0.2);
}

@keyframes up {
    to {
        transform: translateY(-10px);
    }
}

.form-check-input {
    cursor: pointer;
}

.form-check-label:hover {
    cursor: pointer;
    color: rgb(249, 79, 47);
}

.page-link:hover {
    color: blue;
}

/*------------------------------------------footer------------------------------*/
footer {
    background-color: rgb(255, 255, 255);
}

footer .wrapper {
    padding-top: 40px;
}

footer .wrapper ul {
    margin: 0;
    padding: 0;
}

footer .wrapper ul li {
    list-style: none;
}

footer .wrapper ul li a {
    text-decoration: none;
    color: rgb(117, 117, 117);
}

footer .wrapper ul li:first-child {
    margin-bottom: 30px;
}

footer .wrapper ul li:first-child {
    color: black;
    font-weight: 700;
}

footer .wrapper ul li {
    margin-bottom: 6px;
}

footer .wrapper ul li a:hover {
    color: rgb(238, 77, 45);
}

footer .copyright {
    margin-top: 50px;
}

footer .wrapper ul li:last-child .dowload-qr img{
    width: 10px;
    height: 10px;
}

/* Reponsive */
@media only screen and (max-width: 768px) {
    header .nav {
        display: none !important; 
    }

    header .menu {
        justify-content: space-between !important;
        align-items: center !important;
    }

    header .menu li {
        margin-top: 10px;
        font-size: 16px;
    }

    header #search-name {
        width: 300px;
    }

    header #bars {
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        margin-right: 30px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    header .wrapper-1 {
        font-size: 14px;
    }

    header .wrapper-2 .logo img {
        width: 130px;
        height: 75px;
    }

    header .wrapper-2 .search #search-name {
        width: 600px;
    }

    main .page-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }

    main #pagination {
        margin-top: 4px;
    }

    main #card {
        width: 100px;
    }
    main #list_product {
        margin: 0 76px;
    }

    footer .col-2 ul {
        font-size: 13px;
    }
}
